<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="launcher.powerkuy.growlauncher" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <queries>
        <package android:name="com.google.android.webview"/>
        <package android:name="com.rtsoft.growtopia"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="market"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT"/>
            <data android:mimeType="vnd.android.cursor.dir/event"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="sms"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:path="tel:"/>
        </intent>
        <package android:name="com.xiaomi.mipicks"/>
    </queries>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission android:name="launcher.powerkuy.growlauncher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="launcher.powerkuy.growlauncher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:appCategory="game" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:hardwareAccelerated="true" android:icon="@drawable/logo_theme" android:isGame="true" android:label="@string/app_name" android:name="launcher.powerkuy.App" android:requestLegacyExternalStorage="true" android:roundIcon="@drawable/logo_theme" android:supportsRtl="true" android:theme="@style/AppCompat" android:usesCleartextTraffic="true">
        <activity android:exported="false" android:name="launcher.powerkuy.growlauncher.adb.StoragePermissionActivity" android:theme="@android:style/Theme.Material.Light.NoActionBar"/>
        <activity android:exported="false" android:name="launcher.powerkuy.growlauncher.adb.PairingTutorialActivity" android:theme="@style/Theme.GrowLauncherKotlin.PairingTutorial"/>
        <activity android:exported="false" android:label="@string/title_activity_setting" android:name="launcher.powerkuy.growlauncher.extra.SettingActivity" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:exported="false" android:label="@string/title_activity_login" android:name="launcher.powerkuy.growlauncher.login.LoginActivity" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="launcher.powerkuy.growlauncher.MainActivity" android:theme="@style/Theme.GrowLauncherKotlin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="launcher.powerkuy.growlauncher.DeeplinkActivity" android:theme="@style/Theme.GrowLauncherKotlin">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="add-script" android:scheme="growlauncher"/>
            </intent-filter>
        </activity>
        <activity android:name="io.mychips.offerwall.controller.MCOfferwallActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <receiver android:enabled="true" android:exported="true" android:name="launcher.powerkuy.growlauncher.LuaBroadcastReceiver">
            <intent-filter>
                <action android:name="com.growlauncher.RUN_LUA"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/title_activity_crash_log" android:name="launcher.powerkuy.growlauncher.crashlog.CrashLogActivity" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:label="Theme Picker" android:name="launcher.powerkuy.growlauncher.module.ThemePicker" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:label="@string/title_activity_sound_manager" android:name="launcher.powerkuy.growlauncher.module.Sound_Manager" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:label="@string/title_activity_assest_test" android:name="launcher.powerkuy.growlauncher.AssestReader" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:label="@string/title_activity_edit_text" android:name="launcher.powerkuy.growlauncher.module.EditTextActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" android:windowSoftInputMode="adjustNothing"/>
        <activity android:exported="false" android:label="@string/title_activity_lua_manager" android:name="launcher.powerkuy.growlauncher.LuaManager" android:screenOrientation="fullSensor" android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" android:windowSoftInputMode="adjustNothing"/>
        <activity android:exported="false" android:label="@string/title_activity_no_growtopia" android:launchMode="singleTask" android:name="launcher.powerkuy.growlauncher.NoGrowtopia" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:exported="true" android:label="Preview Activity" android:launchMode="singleTask" android:name="launcher.powerkuy.growlauncher.PreviewActivity" android:screenOrientation="sensorLandscape" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:name="com.rtsoft.growtopia.HelpshiftActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.tapjoy.TJAdUnitActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.tapjoy.TJContentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="launcher.powerkuy.growlauncher.AudienceNetworkContentProvider" android:exported="false" android:name="com.facebook.ads.AudienceNetworkContentProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="5.0.0"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:label="@string/title_activity_debugger" android:name="launcher.powerkuy.growlauncher.extra.SettingAcitvity" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:exported="false" android:name="launcher.powerkuy.DebugActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.rtsoft.growtopia.Main" android:resizeableActivity="true" android:screenOrientation="sensorLandscape" android:supportsPictureInPicture="true" android:theme="@style/GrowtopiaTheme" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="grow"/>
            </intent-filter>
        </activity>
        <activity android:background="#30000000" android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.rtsoft.growtopia.PermissionActivity" android:screenOrientation="sensorLandscape" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:label="@string/app_name" android:name="com.rtsoft.growtopia.CSTSWebViewActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="true" android:name="launcher.powerkuy.growlauncher.script.ScriptMain" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:exported="false" android:hardwareAccelerated="true" android:name="launcher.powerkuy.growlauncher.ScriptHubWebActivity" android:screenOrientation="sensorPortrait" android:theme="@style/Theme.GrowLauncherKotlin"/>
        <service android:exported="false" android:name="powerkuy.modmenu.Floating"/>
        <service android:exported="false" android:foregroundServiceType="specialUse" android:name="launcher.powerkuy.growlauncher.luamanager.LuaManager"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ktx.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.ktx.FirebaseDatabaseKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="launcher.powerkuy.growlauncher.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="launcher.powerkuy.growlauncher.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="launcher.powerkuy.growlauncher.adb.PairingRelayActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="false" android:name="launcher.powerkuy.growlauncher.adb.AdbPairingService" android:foregroundServiceType="specialUse"/>
        <receiver android:exported="false" android:name="launcher.powerkuy.growlauncher.adb.AdbPairingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
